### Tópicos:  Criação de Listas, Listas Heterogeneas, Indexação de Listas, Atualização de Listas, Operações com Listas, Add e Remover Elementos, Listas Aninhadas, Concatenando Listas, Operador In, Contar Tamanho da Lista, Contar Número de Elementos, Valor Maximo e Mínimo, Ordena e Reverte Listas, Adicionar Valor, POP - Retira e Retorna, SET - Conjutos Únicos ñ Repetidos.


# Criando Listas

In [2]:
# Criação de Listas. Usar []

linguagens = ["Python","R","Julia","PHP"]
print(linguagens)

['Python', 'R', 'Julia', 'PHP']

In [3]:
# Listas Heterogenea - String e Números

mundiais = ["Brasil", 58,62,70,94,2002,2018]
print(mundiais)

['Brasil', 58, 62, 70, 94, 2002, 2018]

In [4]:
# Indexação de Listas

pais = mundiais[0]
titulo01 = mundiais[1]
titulo02 = mundiais[2]
titulo03 = mundiais[3]
titulo04 = mundiais[4]
titulo05 = mundiais[5]
titulo06 = mundiais[6]

print(pais)
print(titulo01)
print(titulo02)
print(titulo03)
print(titulo04)
print(titulo05)
print(titulo06)

Brasil
58
62
70
94
2002
2018

# Atualização de Listas

In [5]:
mundiais[0]

'Brasil'

In [6]:
mundiais[0] = "Alemanhã"

In [7]:
mundiais[0]

'Alemanhã'

In [8]:
print(mundiais)

['Alemanhã', 58, 62, 70, 94, 2002, 2018]

# Operações com Listas

In [9]:
# Remover elementos da lista.

del mundiais[1:]
print(mundiais)

['Alemanhã']

In [10]:
# Adicionar elementos na lista.

mundiais.append(2014)
print(mundiais)

['Alemanhã', 2014]

In [11]:
# Adicionar mais de um elemento na lista

mundiais.extend([1954, 1974, 1990])
print(mundiais)

['Alemanhã', 2014, 1954, 1974, 1990]

In [12]:
mundiais.remove(1990)
print(mundiais)

['Alemanhã', 2014, 1954, 1974]

# Listas Aninhadas

In [13]:
mundiais = [["Brasil", 1958, 1962, 1970, 1994, 2002], ["Alemanha", 1954, 1974, 1990, 2014]]
print(mundiais)

[['Brasil', 1958, 1962, 1970, 1994, 2002], ['Alemanha', 1954, 1974, 1990, 2014]]

In [14]:
print(mundiais[0])

['Brasil', 1958, 1962, 1970, 1994, 2002]

In [15]:
print(mundiais[1])

['Alemanha', 1954, 1974, 1990, 2014]

In [16]:
print(mundiais[0][2])

1962

# Concatenando Listas

In [17]:
a = ["Argentina", 1986, 1978]
b = ["Alemanha", 1954, 1974, 1990, 2014]
c = ["Brasil", 1958, 1962, 1970, 1994, 2002]

# Concatenado

fifa = a + b + c

print(fifa)

['Argentina', 1986, 1978, 'Alemanha', 1954, 1974, 1990, 2014, 'Brasil', 1958, 1962, 1970, 1994, 2002]

In [18]:
fifa[10]

1962

# Operador In

In [19]:
# Verifica elementos na lista
print("Uruguai" in fifa)
print("Brasil" in fifa)

False
True

In [22]:
equipe = 'Brasil' 

if equipe in fifa:
    a = fifa.index(equipe) # Retorna o  indice / posição de Brasil na lista FIFA
    print('O indice da equipe é:',a)
    print('Nome da equipe: '+ equipe)
    print(fifa[a + 1: ])
else:
    print(equipe + '- Não possui títulos ou não está na lista.')

O indice da equipe é: 8
Nome da equipe: Brasil
[1958, 1962, 1970, 1994, 2002]

# Funções Built-in com Listas

In [23]:
# Tamanho da Lista - Conta o número de elementos

len(fifa)

14

In [24]:
# Valor maximo - Não funciona com listas heterogeneas, dará erro.

max(fifa)

TypeError: '>' not supported between instances of 'int' and 'str'

In [85]:
# Valor maximo e mínimo - Lista numérica ou de palavras. 

numeros = [43,45,67,89,64,225,677,89,55,8,789,63,7]
palavras = ['Cachorro', 'Macaco', 'Zebra', 'Gato']

In [86]:
print(numeros)
print(palavras)

[43, 45, 67, 89, 64, 225, 677, 89, 55, 8, 789, 63, 7]
['Cachorro', 'Macaco', 'Zebra', 'Gato']

In [87]:
print(max(numeros)) # Maior da ordem numérica
print(max(palavras)) # Maior da ordem alfabetica

789
Zebra

In [88]:
print(min(numeros)) # Menor da ordem numérica
print(min(palavras)) # Menor da ordem alfabetica

7
Cachorro

In [89]:
# Reverte a Lista POSICIONAMENTE

numeros = [10,2,8,4,5,6,7]
numeros.reverse()
numeros

[7, 6, 5, 4, 8, 2, 10]

In [92]:
# Ordena em ordem CRESCENTE

numeros.sort()
numeros

[2, 4, 5, 6, 7, 8, 10]

In [95]:
# Ordena em ordem DECRESCENTE (Ordena e Reverte)

numeros.sort()
numeros.reverse()
numeros

[10, 8, 7, 6, 5, 4, 2]

In [99]:
# Adicionar valor repetido

palavras = ['Cachorro', 'Macaco', 'Zebra', 'Gato']
palavras.append('Macaco')

# Contando Ocorrências
print(palavras)
palavras.count('Macaco')

['Cachorro', 'Macaco', 'Zebra', 'Gato', 'Macaco']

2

In [101]:
# Criando lista vazia

a = []
print(a)
type(a)

[]

list

In [107]:
# POP - Retira o último objeto da lista, mas tem como retorno o próprio objeto. É POSICIONAL

lista = ['B','C','D','E','A']
print(lista)

['B', 'C', 'D', 'E', 'A']

In [108]:
print(lista.pop())
print(lista)

A
['B', 'C', 'D', 'E']

In [115]:
# Podemos INDEXAR o objeto, iniciando de 0.

lista = ['B','C','D','E','A']
print(lista)
print("Retirando o objetivo ", lista.pop(1))
print(lista)
print("Agora quero retirar o objeto E da lista. Retirando: ", lista.pop(2))
print(lista)

['B', 'C', 'D', 'E', 'A']
Retirando o objetivo  C
['B', 'D', 'E', 'A']
Agora quero retirar o objeto E da lista. Retirando:  E
['B', 'D', 'A']

# Os SETS são conjuntos unicos. Semelhante à um SELECT DISTINCT, e são muito utilizados em Análises de Dados. 
Importante: Não suportam IDEXAÇÂO.

In [119]:
# SET são difrentes de listas. São conjutos únicos é não suportam IDEXAÇÂO. 

conjunto = set()

conjunto.add('Java')
conjunto.add('R')
conjunto.add('Python')

print(conjunto)

{'Python', 'R', 'Java'}

In [125]:
conjunto.add('Java')
conjunto.add('JavaScript')

print(conjunto)
type(conjunto)

# SET - Não tráz o elemento repetido 
# Exemplo o segundo (Java) adicionado

{'Python', 'R', 'JavaScript', 'Java'}

set

In [129]:
# Operações com SETs

engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])

print(engenheiros)
print(programadores)
print(gerentes)

{'Celia', 'João', 'Jane', 'Clara'}
{'Celia', 'Clara', 'Sam', 'Susan'}
{'Jane', 'Clara', 'Zack', 'Susan'}

In [130]:
# União

funcionarios = engenheiros | programadores | gerentes

print(funcionarios)

{'Zack', 'Celia', 'João', 'Jane', 'Clara', 'Sam', 'Susan'}

In [131]:
# Interseção

func_gerencia = engenheiros & gerentes

print(func_gerencia)

{'Jane', 'Clara'}

In [1]:
# Diferença

engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])

a = gerentes - engenheiros
print(a)

b = gerentes - programadores
print(b)

c = engenheiros - programadores
print(c)

{'Zack', 'Susan'}
{'Jane', 'Zack'}
{'Jane', 'João'}